{% extends "lab_4/layout/base.html" %}
{% block content %}
<h1>Portofolio</h1>
<hr/>

<style>
    .profile{
        border-radius: 50%;
    }
    .success{
        color: blue;
    }
    .error{
        color: red
    }
</style>

{% load static %}
<center>
<img class='profile' src='{% static "/img/profile.png" %}' alt="My image" height="30%" width="30%"/>
</center>
<section name="bio">
    <h2>Bio</h2>
    <p>
        {{content}}
    </p>	
</section>
<hr/>
<section name="about_me">
    <h2>Things you should know about me</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<hr/>
<section name="form">
    <h2>Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    {% if messages %}
    <p class="messages">
        {% for message in messages %}
        <b{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</b>
        {% endfor %}
    </p>
    {% endif %}
</section>
{% endblock %}