{% extends "base.html" %}
{% block content %}
<style>
    .success{
        color: blue;
    }
    .error{
        color: red
    }
</style>
<br><br>
<h3 style="text-align: center">Hai semua, berikut adalah Catatan Harianku</h3>
<br><br>
<div class="row">
    <div align="center" class="col-md-6 col-xs-6">
        <form method="POST" action="add_activity/">
            {% csrf_token %}
            <table>
                <tr>
                    <td>
                        Tanggal
                    </td>
                    <td>
                        <input type="datetime-local" name="date" id="date" required="required" value="{{ todayTime }}" min="{{ todayTime }}"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        Kegiatan
                    </td>
                    <td>
                        <input type="text" name="activity" id="activity" placeholder="Fill me daddy..." pattern="/^{2,60}$/"/>
                        <button type="submit" class="button btn-success">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
        {% if messages %}
        <p class="messages">
            {% for message in messages %}
            <b{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</b>
            {% endfor %}
        </p>
        {% endif %}
    </div>
    <div class="col-md-6 col-xs-6">
        <table align="center" style="text-align: center">
            <tr>
                <th>Tanggal</th>
                <th>Yang akan dikerjakan</th>
            </tr>
            {% for diary_data in diary_dict %}
                <tr>
                    <td class="date">{{ diary_data.date }}</td>
                    <td class="activity">{{ diary_data.activity }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}
